@keyframes pulsiveUp {
    from {
        bottom: 30px;
        opacity: 0.7;
    }
    to {
        bottom: 50px;
        opacity: 0;
    }
}
@keyframes pulsiveDawn {
    from {
        bottom: 30px;
        opacity: 0.7;
    }
    to {
        bottom: 10px;
        opacity: 0;
    }
}
@-webkit-keyframes pulsiveUp {
    0% {
        bottom: 30px;
        opacity: 0.7;
    }
    50%{
        bottom: 40px;
        opacity: 0.4;
    }
    100% {
        bottom: 50px;
        opacity: 0;
    }
}
@-webkit-keyframes pulsiveDawn {
    0%{
        bottom: 30px;
        opacity: 0.7;
    }
    50%{
        bottom: 20px;
        opacity: 0.4;
    }
    100%{
        bottom: 10px;
        opacity: 0;
    }
}
@-moz-keyframes pulsiveUp {
    from {
        bottom: 30px;
        opacity: 0.7;
    }
    to {
        bottom: 50px;
        opacity: 0;
    }
}
@-moz-keyframes pulsiveDawn {
    from {
        bottom: 30px;
        opacity: 0.7;
    }
    to {
        bottom: 10px;
        opacity: 0;
    }
}
@-ms-keyframes pulsiveUp {
    from {
        bottom: 30px;
        opacity: 0.7;
    }
    to {
        bottom: 50px;
        opacity: 0;
    }
}
@-ms-keyframes pulsiveDawn {
    from {
        bottom: 30px;
        opacity: 0.7;
    }
    to {
        bottom: 10px;
        opacity: 0;
    }
}
.arrowD{
    position: absolute;
    max-height: 38px;
    bottom: 30px;
    max-width: 130px;
    width: 100%;
    height: 100%;
}
.arrowD-pulsiveUp{
    position: absolute;
    bottom: 30px;
    -moz-animation:pulsiveUp 1000ms infinite;
    -o-animation:pulsiveUp 1000ms infinite;
    -webkit-animation: pulsiveUp 1000ms infinite;
    animation: pulsiveUp 1000ms infinite;
}
.arrowD-pulsiveDawn{
    position: absolute;
    bottom: 30px;
    -moz-animation:pulsiveDawn 1000ms infinite;
    -o-animation:pulsiveDawn 1000ms infinite;
    -webkit-animation: pulsiveDawn 1000ms infinite;
    animation: pulsiveDawn 1000ms infinite;
}
.map, .email, .phone{
    width: 4.375rem;
    height: 4.375rem;
}

.mainSvg{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1320px){
    .mainSvg{
        width: 90%;
        height: 90%;
    }
    .arrowD, .arrowD-pulsiveDawn, .arrowD-pulsiveUp{
        max-height: 29px;
        max-width: 100px;
    }
}
@media screen and (max-width: 824px){
    .arrowD, .arrowD-pulsiveDawn, .arrowD-pulsiveUp{
        max-height: 24px;
        max-width: 80px;
    }
}
@media screen and (max-width: 424px){
    .arrowD, .arrowD-pulsiveDawn, .arrowD-pulsiveUp{
        max-height: 18px;
        max-width: 60px;
    }
}