.main img{
    width: 1050px;
    height: 1050px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: -660px;
}

.main_title{
    margin-top: 1.875rem;
    font-size: 3.125rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
}
.main_text{
    text-align: center;
    line-height: 2.5rem;
    max-width: 39.375rem;
    margin: 0 auto;
    font-size: 1.2rem;
}
.main_text p:not(:last-child){
    margin-bottom: 1.875rem;
}
.main_about-comp{
    z-index: 1;
    margin-top: 5.625rem;
    color: white;
}
.main{
    margin-top: 6.25rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    }
@media screen and (max-width: 1320px){
    .main img{
        width: 700px;
        height: 700px;
        left: -480px;
        top: 10vh;
    }
    .main_about-comp{
        margin: auto 0;
    }
}
@media screen and (max-width: 824px){
    .main img{
        width: 500px;
        height: 500px;
        left: -250px;
        top: 20vh;
    }

}
@media screen and (max-width: 424px){
    .main img{
        width: 400px;
        height: 400px;
        left: -250px;
        top: 12vh;
    }
}