.main_moon{
    width: 1050px;
    height: 1050px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: -660px;
}
.main_title{
    margin-top: 1.875rem;
    font-size: 3.125rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
}
.main_text{
    text-align: center;
    line-height: 2.5rem;
    max-width: 39.375rem;
    margin: 0 auto;
    font-size: 1.2rem;
}
.main_text p:not(:last-child){
    margin-bottom: 1.875rem;
}
.main_about-comp{
    z-index: 1;
    margin-top: 5.625rem;
}
.main_services{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services_title{
    max-width: 70.375rem;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    font-size: 3.125rem;
}
.micro_title{
    margin-bottom: 1.25rem;
    line-height: 160%;
    font-size: 3.125rem;
}
.services_text{
    margin-left: 7.5rem;
    font-size: 1.25rem;
    max-width: 37.5rem;
}
.micro_text-block{
    font-size: 1.25rem;

    max-width: 37.5rem;
    margin-right: 7.3rem;
}
.micro_text-item:not(:last-child){
    margin-bottom: 1.15rem;
}
.services_text-item{
    line-height: 170%;
}
.micro_text{
    line-height: 185%;
    margin-bottom: 1.5rem;
}
.services_text-item:not(:last-child){
    margin-bottom: 2.4rem;
}
.services_scheme{
    margin: 0 auto;
    width: 30.125rem;
    height: 30.125rem ;
}
.services_block{
    margin-top: 6.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.micro_img{
    width: 31.125rem;
    height: 31.125rem;
}
.micro_block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.micro{
    margin-top: 8.125rem;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.main{
    overflow-x: hidden;
    color: white;
    margin-top: 6.25rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    }
@media screen and (max-width: 1320px){
    .main_moon{
        width: 700px;
        height: 700px;
        left: -480px;
        top: 10vh;
    }
    .main_about-comp{
        margin: auto 0;
    }
}
@media screen and (max-width: 824px){
    .main_moon{
        width: 500px;
        height: 500px;
        left: -250px;
        top: 20vh;
    }
    .services_text{
        margin-left: 1.5rem;
    }
    .services_block, .micro_block{
        align-items: center;
        flex-direction: column;
    }
    .services_scheme, .micro_text-block{
        margin: 0 0 5.1254rem 0;
    }
    .main{
        margin-top: 0;
    }

}
@media screen and (max-width: 424px){
    .main_moon{
        width: 400px;
        height: 400px;
        left: -250px;
        top: 12vh;
    }
}